@using MonsterManual5e.Helpers;
@model MonsterManual5e.ViewModels.ListViewModel
@{
    ViewBag.Title = "Home Page";
}

@*<div class="page-header">
    <h1>Monster Manual</h1>
</div>*@

<div class="row">
    <div class="col-md-12">

        <ul class="nav nav-tabs">
            <li role="presentation" class="filter-col-visibility active" data-col-show="default"><a href="#">Default</a></li>
            <li role="presentation" class="filter-col-visibility" data-col-show="ability"><a href="#">Ability Scores</a></li>
        </ul>

        <div class="filter filter-default">
            <div class="row">
                <div class="col-md-2">
                    <input type="text" class="form-control filter-input" data-filter="name" placeholder="Search by name..." />
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control filter-input" data-filter="size" placeholder="Search by size..." />
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control filter-input" data-filter="type" placeholder="Search by type..." />
                </div>
                <div class="col-md-6">
                    <div class="input-range">
                        <input id="filter-min-ac" type="number" class="form-control filter-input input-range-left minimum" placeholder="Minimum AC..." />
                        <span class="input-range-mid">to</span>
                        <input id="filter-max-ac" type="number" class="form-control filter-input input-range-right maximum" placeholder="Maximum AC..." />
                    </div>            
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @*<select class="form-control multi-select filter-select" data-filter="size-select"></select>*@
                    @Html.ListBoxFor(m => m.SelectedSizes, Model.Sizes, htmlAttributes: new { @class = "form-control multi-select filter-select", @id = "size-select"})
                </div>
            </div>
        </div>

        <div class="filter filter-ability hidden">
            <div class="row">
                <div class="col-md-2">
                    
                </div>
            </div>
        </div>
        <div class="">
            <button class="btn btn-default filter-clear">Clear all filters</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="monster-table" class="table table-hover table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th class="vg-all" data-column="name">Name</th>
                    <th class="vg-default" data-column="size">Size</th>
                    <th class="vg-default" data-column="type">Type</th>
                    @*<th>Alignment</th>*@
                    <th class="vg-default"><span data-toggle="tooltip" data-placement="top" title="Armor Class">AC</span></th>
                    <th class="vg-default"><span data-toggle="tooltip" data-placement="top" title="Hit Points">HP</span></th>
                    <th class="vg-ability"><span data-toggle="tooltip" data-placement="top" title="Strength">Str</span></th>
                    <th class="vg-ability"><span data-toggle="tooltip" data-placement="top" title="Dexterity">Dex</span></th>
                    <th class="vg-ability"><span data-toggle="tooltip" data-placement="top" title="Constitution">Con</span></th>
                    <th class="vg-ability"><span data-toggle="tooltip" data-placement="top" title="Intelligence">Int</span></th>
                    <th class="vg-ability"><span data-toggle="tooltip" data-placement="top" title="Wisdom">Wis</span></th>
                    <th class="vg-ability"><span data-toggle="tooltip" data-placement="top" title="Charisma">Cha</span></th>
                    <th class="vg-ability"><span data-toggle="tooltip" data-placement="top" title="Strength Saving Throw">Str ST</span></th>
                    <th class="vg-ability"><span data-toggle="tooltip" data-placement="top" title="Dexterity Saving Throw">Dex ST</span></th>
                    <th class="vg-ability"><span data-toggle="tooltip" data-placement="top" title="Constitution Saving Throw">Con ST</span></th>
                    <th class="vg-ability"><span data-toggle="tooltip" data-placement="top" title="Intelligence Saving Throw">Int ST</span></th>
                    <th class="vg-ability"><span data-toggle="tooltip" data-placement="top" title="Wisdom Saving Throw">Wis ST</span></th>
                    <th class="vg-ability"><span data-toggle="tooltip" data-placement="top" title="Charisma Saving Throw">Cha ST</span></th>
                    <th class="vg-default"><span data-toggle="tooltip" data-placement="top" title="Passive Perception">PP</span></th>
                    <th class="vg-default"><span data-toggle="tooltip" data-placement="top" title="Challenge Rating">CR</span></th>
                    <th class="vg-none">CR Hidden</th>
                    <th class="vg-default"><span data-toggle="tooltip" data-placement="top" title="Experience Points">XP</span></th>
                    <th class="vg-default"><span>Source</span></th>
                    <th><span>Add to...</span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var monster in Model.Monsters)
                {
                    <tr>
                        <td>@Html.ActionLink(monster.Name, "Info", "Monster", new { id = monster.Id, name = monster.UrlName }, null)</td>
                        <td>@monster.Size.Name</td>
                        <td>@monster.MonsterType.Name</td>
                        @*<td>@monster.Alignment</td>*@
                        <td>@monster.Ac</td>
                        <td>@monster.Hp</td>
                        <td>@monster.Str</td>
                        <td>@monster.Dex</td>
                        <td>@monster.Con</td>
                        <td>@monster.Int</td>
                        <td>@monster.Wis</td>
                        <td>@monster.Cha</td>
                        <td>@monster.StrSave.ToString("+0;-0;0")</td>
                        <td>@monster.DexSave.ToString("+0;-0;0")</td>
                        <td>@monster.ConSave.ToString("+0;-0;0")</td>
                        <td>@monster.IntSave.ToString("+0;-0;0")</td>
                        <td>@monster.WisSave.ToString("+0;-0;0")</td>
                        <td>@monster.ChaSave.ToString("+0;-0;0")</td>
                        <td>@monster.PassivePerception</td>
                        <td>@Html.Raw(DisplayHelper.DisplayCR(monster.ChallengeRating))</td>
                        <td>@monster.ChallengeRating</td>
                        <td>@monster.ExperiencePoints</td>
                        <td>@monster.Source.Abbreviation @monster.SourcePage</td>
                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addToEncounterModal" data-id="@monster.Id">Encounter</button><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#difficultyCalculatorModal" data-id="@monster.Id">Difficulty Calculator</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Add to Encounter Modal -->
<div class="modal fade" id="addToEncounterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add to Encounter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="id" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Add to Difficulty Calculator Modal -->
<div class="modal fade" id="difficultyCalculatorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add to Difficulty Calculator</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="id" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>