@using MonsterManual5e.Helpers;
@model MonsterManual5e.ViewModels.ListViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h1>Monster Manual</h1>
</div>

<div class="row">
    <div class="col-md-12">

        <ul class="nav nav-tabs">
            <li role="presentation" class="filter-col-visibility active" data-col-show="default"><a href="#">Default</a></li>
            <li role="presentation" class="filter-col-visibility" data-col-show="ability"><a href="#">Ability Scores</a></li>
        </ul>

        <div class="filter filter-default">
            <div class="row">
                <div class="col-md-2">
                    <input type="text" class="form-control filter-input" data-filter="name" placeholder="Search by name..." />
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control filter-input" data-filter="size" placeholder="Search by size..." />
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control filter-input" data-filter="type" placeholder="Search by type..." />
                </div>
                <div class="col-md-6">
                    <div class="input-range">
                        <input id="filter-min-ac" type="number" class="form-control filter-input input-range-left minimum" placeholder="Minimum AC..." />
                        <span class="input-range-mid">to</span>
                        <input id="filter-max-ac" type="number" class="form-control filter-input input-range-right maximum" placeholder="Maximum AC..." />
                    </div>            
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @*<select class="form-control multi-select filter-select" data-filter="size-select"></select>*@
                    @Html.ListBoxFor(m => m.SelectedSizes, Model.Sizes, htmlAttributes: new { @class = "form-control multi-select filter-select", @id = "size-select"})
                </div>
            </div>
        </div>

        <div class="filter filter-ability hidden">
            <div class="row">
                <div class="col-md-2">
                    
                </div>
            </div>
        </div>
        <div class="">
            <button class="btn btn-default filter-clear">Clear all filters</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="monster-table" class="table table-hover table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th class="vg-all" data-column="name">Name</th>
                    <th class="vg-default" data-column="size">Size</th>
                    <th class="vg-default" data-column="type">Type</th>
                    @*<th>Alignment</th>*@
                    <th class="vg-default" >AC</th>
                    <th class="vg-default" >HP</th>
                    <th class="vg-ability" >Str</th>
                    <th class="vg-ability" >Dex</th>
                    <th class="vg-ability" >Con</th>
                    <th class="vg-ability" >Int</th>
                    <th class="vg-ability" >Wis</th>
                    <th class="vg-ability" >Cha</th>
                    <th class="vg-ability" >Str Save</th>
                    <th class="vg-ability" >Dex Save</th>
                    <th class="vg-ability" >Con Save</th>
                    <th class="vg-ability" >Int Save</th>
                    <th class="vg-ability" >Wis Save</th>
                    <th class="vg-ability" >Cha Save</th>
                    <th class="vg-default" >Passive Perception</th>
                    <th class="vg-default" >CR</th>
                    <th class="vg-none">CR Hidden</th>
                    <th class="vg-default" >XP</th>
                    <th class="vg-default">Source</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var monster in Model.Monsters)
                {
                    <tr>
                        <td>@Html.ActionLink(monster.Name, "Info", "Monster", new { id = monster.Id }, null)</td>
                        <td>@monster.Size.Name</td>
                        <td>@monster.MonsterType.Name</td>
                        @*<td>@monster.Alignment</td>*@
                        <td>@monster.Ac</td>
                        <td>@monster.Hp</td>
                        <td>@monster.Str</td>
                        <td>@monster.Dex</td>
                        <td>@monster.Con</td>
                        <td>@monster.Int</td>
                        <td>@monster.Wis</td>
                        <td>@monster.Cha</td>
                        <td>@monster.StrSave.ToString("+0;-0;0")</td>
                        <td>@monster.DexSave.ToString("+0;-0;0")</td>
                        <td>@monster.ConSave.ToString("+0;-0;0")</td>
                        <td>@monster.IntSave.ToString("+0;-0;0")</td>
                        <td>@monster.WisSave.ToString("+0;-0;0")</td>
                        <td>@monster.ChaSave.ToString("+0;-0;0")</td>
                        <td>@monster.PassivePerception</td>
                        <td>@Html.Raw(DisplayHelper.DisplayCR(monster.ChallengeRating))</td>
                        <td>@monster.ChallengeRating</td>
                        <td>@monster.ExperiencePoints</td>
                        <td>@monster.Source.Abbreviation @monster.SourcePage</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>